<html lang="en">
  <head>
   {{>headerLinks}}
  </head>
  <body>

    {{>navbar}}

    <!-- Main Header -->

    <div class="container-fluid main_header">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <div class="row">
            <!-- main Header Left -->
            <div class=" col-12 main_header_left align-items-center">
              <figure class="errImg">
                <img
                  src="images/error.png"
                  alt="Ahsan"
                  class="img-fluid"
                  title="Ahsan Shakil"
                />
              </figure>
           
              <p>Welcome to weather app</p>
              <h1>{{errorMsg}}</h1>
              <a href="/"><button>Go back</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer -->
{{>footer}}

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    ></script>
    <script src="js/main.js"></script>

  </body>
</html>